<!DOCTYPE html>
<html lang="ru">
<head>
<title>Полянка/44. Квартиры в ЖК «Полянка/44» в центре Москвы — от 600 тысяч рублей за кв.метр | Contact Real Estate</title>
<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<meta name="description" content="Элитные квартиры в ЖК «Полянка/44» на лучших условиях. Отсутствие комиссии при покупке, быстрое оформление сделки. Описание и фотографии жилого комплекса" />
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
<link rel="stylesheet" href="style/reset.css" />
<link rel="stylesheet" href="style/webfont.css" />
<link rel="stylesheet" href="style/slick.css" />
<link rel="stylesheet" href="style/slick-theme.css" />
<link rel="stylesheet" href="style/jquery-ui-1.9.2.custom.min.css" />
<link rel="stylesheet" href="style/font.css" />
<link rel="stylesheet" href="style/jquery.arcticmodal-0.3.css" />
<link rel="stylesheet" href="style/main.css" />
<link rel="stylesheet" href="style/responsive.css" />
<script src="js/jquery.js"></script>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter19895512 = new Ya.Metrika({ id:19895512, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/19895512" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1461607490814186');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1461607490814186&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Код КоМеджик -->
<script type="text/javascript">
  var __cs = __cs || [];
  __cs.push(["setCsAccount", "5aKpePpa04lA7Lpnv9Orpq53gOi8LdbQ"]);
  __cs.push(["setCsHost", "//server.comagic.ru/comagic"]);
</script>
<script type="text/javascript" async src="//app.comagic.ru/static/cs.min.js"></script>
<!-- Код КоМеджик -->
</head>
<body ng-app="main" ng-controller="mainController">
<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "2746246", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2746246;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->
<div class="b-main-offer m-main-offer_contact">
    <div class="l-inner">
        <a href="http://www.kre.ru/" class="b-logo m-logo_contact">
            <img src="img/logo-polyanka.png" alt="Contact logo" />
        </a>
        <nav class="b-nav">
            <a class="j-scrollto-link b-nav__el" data-scrollto-block=".j-appartment">Описание</a>
            <a class="j-scrollto-link b-nav__el" data-scrollto-block=".j-location">Расположение и инфраструктура</a>
            <a class="j-scrollto-link b-nav__el" data-scrollto-block=".j-flats">Выбрать квартиру</a><a class="j-scrollto-link b-nav__el" data-scrollto-block=".b-form__sell">Собственникам</a>
        </nav>
        <div class="b-contacts ">
            <p class="b-phone m-phone_contact phone-desktop" title="Телефон" onclick="">+7 (495) 956-77-99</p>
            <a href="tel:+74959567799" class="b-phone m-phone_contact phone-mobile" title="Телефон" onclick="ga('send', 'event', 'click number', 'click button'); yaCounter19895512.reachGoal('click number');">+7 (495) 956-77-99</a>
            <a href="mailto:sales@kre.ru" class="b-email m-email_header" title="Email" onclick="ga('send', 'event', 'click email', 'click button'); yaCounter19895512.reachGoal('click email');">sales@kre.ru</a>
        </div>
        <h1 class="b-main-title m-main-title_contact">ЖК «Полянка/44»<br>Элитный жилой комплекс в центре города, квартиры от 600 тыс. рублей  за кв.метр</h1>
        <!--<div class="b-barkli"></div>-->
        <button class="b-button-sell m-button-sell_contact" ng-click="showCallbackPopup()" >оставить заявку</button>
    </div>
</div>
<div class="b-moscow-appartment j-appartment">
    <div class="b-moscow-appartment__inner">
        <h2 class="b-title m-title_appartment-select">Выбираете жильё в центре Москвы?</h2>
        <div class="b-moscow-appartment__project">
            <div class="b-moscow-appartment__project-desc">
                <p class="b-moscow-appartment__project-text">Жилой комплекс «Полянка/44» представляет собой восемь отдельно стоящих особняков, расположенных на прекрасно обустроенной закрытой территории площадью 1,6 гектара. Этот уникальный объект отличается прекрасным расположением в историческом центре столицы. Лаконичный экстерьер комплекса органично сочетается с застройкой соседних кварталов. Архитектурный облик ЖК «Полянка/44» создан McAslan + Partners — авторитетной студией с центральным офисом в Лондоне. Наряду с квартирами в роскошном комплексе планируется построить одиннадцать пентхаусов с видовыми террасами на плоских крышах. Отсюда будут открываться захватывающие дух виды на Кремль, древнюю Якиманку, Полянку.</p>
                </div>
        </div>
    </div>
</div>
<div class="b-huge-slider j-huge-slider">
    <div ng-repeat="slide in hugeSliderData" repeat-end="hugeSliderReady()">
        <img ng-src="img/big-slider/{{slide}}" class="b-huge-slider__img" />
    </div>
</div>
<div class="b-benefits m-benefits_contact">
    <div class="b-seller g-clearfix">
        <img src="img/brokers/voinov.png" class="b-seller__image" alt="" />
        <div class="b-seller__info">
            <div class="b-seller__title">Объект продаёт</div>
            <div class="b-seller__contacts g-clearfix">
                <div class="b-seller__vcard">
                    <p class="b-seller__name">Владимир Воинов</p>
                    <!--<p class="b-seller__company">Брокер, Агентство «Contact Real Estate»</p>-->
                </div>
                <span class="call_phone_b3"><a href="tel:+74959567799" class="b-phone m-phone_seller">+7 (495) 956-77-99</a></span>
                <button class="b-button-callback m-button-callback_seller" ng-click="showCallbackPopup()" onclick="ga('send', 'event', 'callback', 'click button'); yaCounter19895512.reachGoal('callback');">заказать звонок</button>
            </div>
        </div>
    </div>
    <div class="b-benefits__inner m-benefits__inner_contact g-clearfix j-slider-benefits">
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/loc.svg" class="g-icon m-icon_middle m-icon_man" alt="" />
                </div>
                <p class="b-benefits__item-desc">Удачная локация</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/columns.svg" class="g-icon m-icon_middle m-icon_columns" alt="" />
                </div>
                <p class="b-benefits__item-desc">Интересная архитектурная концепция</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/guards.svg" class="g-icon m-icon_middle m-icon_tree" alt="" />
                </div>
                <p class="b-benefits__item-desc">Профессиональная охрана</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/infrastructure.svg" class="g-icon m-icon_middle m-icon_lamp" alt="" />
                </div>
                <p class="b-benefits__item-desc">Развитая инфраструктура района</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/tree.svg" class="g-icon m-icon_middle m-icon_infrastructure" alt="" />
                </div>
                <p class="b-benefits__item-desc">Обширная внутренняя инфраструктура</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/plan.svg" class="g-icon m-icon_middle m-icon_leaf" alt="" />
                </div>
                <p class="b-benefits__item-desc">Функциональные планировки</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/chair.svg" class="g-icon m-icon_middle m-icon_leaf" alt="" />
                </div>
                <p class="b-benefits__item-desc">Стильный дизайн</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/buildings.svg" class="g-icon m-icon_middle m-icon_leaf" alt="" />
                </div>
                <p class="b-benefits__item-desc">Прекрасные панорамные виды на центр города</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/control.svg" class="g-icon m-icon_middle m-icon_leaf" alt="" />
                </div>
                <p class="b-benefits__item-desc">Многоуровневая система контроля и мониторинга</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/car.svg" class="g-icon m-icon_middle m-icon_leaf" alt="" />
                </div>
                <p class="b-benefits__item-desc">Подземный трехуровневый паркинг на 372машиноместа</p>
            </div>
        </div>
        <div>
            <div class="b-benefits__item m-benefits__item_contact">
                <div class="b-benefits__icon-wrap">
                    <img src="./img/icons/terassa.svg" class="g-icon m-icon_middle m-icon_leaf" alt="" />
                </div>
                <p class="b-benefits__item-desc">Внутренний двор с английским садом</p>
            </div>
        </div>
    </div>
</div>
<div class="b-location j-location">
    <h2 class="b-title">Расположение и инфраструктура ЖК «Полянка/44»</h2>
    <div class="b-map j-map" id="map-1"></div>
</div>
<div class="b-environment">

    <main class="tabs">
        <div class="holder"></div>
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">окружение</label>
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Комфорт</label>
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Детям</label>
        <section id="content1">
            <div>
                <div class="print-header">окружение</div>
                <div class="b-environment__inner g-clearfix">
                    <div class="b-environment__head">
                        <p class="b-environment__title">В пределах 10 минут</p>
                        <div class="b-environment__line"></div>
                    </div>
                    <ul class="j-slider-enviroment b-environment__places-list">
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/muzeon.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Парк искусств Музеон</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/tretyacovskaya-gallery.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Третьяковская галерея</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/zaryad.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Парк Зарядье</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/gorky-park.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Парк культуры и отдыха имени Горького</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/big-theatre.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Большой театр и Малый театр</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/neskuchny.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Нескучный сад</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="content2">
            <div>
                <div class="print-header">Комфорт</div>
                <div class="b-environment__inner g-clearfix">
                    <div class="b-environment__head hidden">
                        <div class="b-environment__line"></div>
                    </div>
                    <ul class="j-slider-enviroment b-environment__places-list">
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/parking.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Подземный паркинг</p>
                        </li>

                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/restroran.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Фешенебельные рестораны высокой кухни, бутики и салоны красоты, банки и магазины в окружении</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/location.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Удобная локация</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/det-sad.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Детский сад</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/konsierdg.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Консьерж-сервис</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/dvor.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Обширный внутренний двор с садом площадью 1,6 га</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="content3">
            <div>
                <div class="print-header">Детям</div>
                <div class="b-environment__inner g-clearfix">
                    <div class="b-environment__head hidden">
                        <div class="b-environment__line"></div>
                    </div>
                    <ul class="j-slider-enviroment b-environment__places-list">
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/det-sad.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Детские сады, школы лицеи и специализированные гимназии в ближайшем окружении</p>
                        </li>
                        <li class="b-environment__item">
                            <div class="b-environment__icon-area">
                                <div class="b-environment__icon-holder">
                                    <img src="img/environment/detsky-sad.png" class="b-environment__img" alt="" />
                                </div>
                            </div>
                            <p class="b-environment__name">Собственный детский сад</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</div>
<div class="b-flats j-flats">
    <h2 class="b-title">Выбрать квартиру в ЖК «Полянка/44»<span class="b-flats-summ">{{flatsSumm}}</span></h2>
    <ul class="b-keywords">
        <li>Ниже вы можете ознакомиться с планировками и ценами на квартиры в ЖК «Полянка/44»</li>
    </ul>
    <div class="b-flats__inner">
        <div class="b-filters g-clearfix">
            <h6 class="filter-header">Фильтры</h6>
            <div class="b-filters-close-button"></div>
            <div class="b-filters__el m-filters__el_widely">
                <p class="b-filters__title">Количество комнат</p>
                <div class="b-filters__slider">
                    <p class="b-filters__current-param">{{filter.rooms.currentMin}} - {{filter.rooms.currentMax}}</p>
                    <div class="j-filter-rooms" data-param="rooms"></div>
                    <div class="b-filters__limit-param g-clearfix">
                        <span class="b-filters__limit-min">{{filter.rooms.min}}</span>
                        <span class="b-filters__limit-max">{{filter.rooms.max}}</span>
                    </div>
                </div>
            </div>
            <div class="b-filters__el">
                <p class="b-filters__title">Этаж</p>
                <div class="b-filters__slider">
                    <p class="b-filters__current-param">{{filter.floor.currentMin}} - {{filter.floor.currentMax}}</p>
                    <div class="j-filter-floor" data-param="floor"></div>
                    <div class="b-filters__limit-param g-clearfix">
                        <span class="b-filters__limit-min">{{filter.floor.min}}</span>
                        <span class="b-filters__limit-max">{{filter.floor.max}}</span>
                    </div>
                </div>
            </div>
            <div class="b-filters__el m-filters__el_widely m-filters__el_top">
                <p class="b-filters__title">Площадь, м<sup>2</sup></p>
                <div class="b-filters__slider">
                    <p class="b-filters__current-param">{{filter.square.currentMin}} - {{filter.square.currentMax}}</p>
                    <div class="j-filter-square" data-param="square"></div>
                    <div class="b-filters__limit-param g-clearfix">
                        <span class="b-filters__limit-min">{{filter.square.min}}</span>
                        <span class="b-filters__limit-max">{{filter.square.max}}</span>
                    </div>
                </div>
            </div>
            <div class="b-filters__el m-filters__el_top">
                <p class="b-filters__title">Цена, млн</p>
                <div class="b-filters__slider">
                    <p class="b-filters__current-param">{{filter.price.currentMin}} - {{filter.price.currentMax}}</p>
                    <div class="j-filter-price" data-param="price"></div>
                    <div class="b-filters__limit-param g-clearfix">
                        <span class="b-filters__limit-min">{{filter.price.min}}</span>
                        <span class="b-filters__limit-max">{{filter.price.max}}</span>
                    </div>
                </div>
            </div>
        </div>
        <table class="b-flats__table" cellpadding="0" cellspacing="0">
            <thead class="b-flats__head">
                <tr class="b-flats__row">
                    <td class="b-flats__head-col">Количество комнат</td>
                    <td class="b-flats__head-col">Этаж</td>
                    <td class="b-flats__head-col">Площадь, м<sup>2</sup></td>
                    <td class="b-flats__head-col">Отделка</td>
                    <td class="b-flats__head-col">Цена, млн руб</td>
                    <td class="b-flats__head-col">Планировка/фото</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="isShowRow($index)" ng-repeat="flat in params | limitTo:isShowRow.limit" class="b-flats__row j-flats-row" repeat-end="flatsReady()">
                    <td data-label="Количество комнат" class="b-flats__col rooms rooms_{{flat.rooms}}">{{flat.rooms}}</td>
                    <td data-label="Этаж" class="b-flats__col floor">{{flat.floor}}</td>
                    <td data-label="Площадь, М2" class="b-flats__col square">{{flat.square}}</td>
                    <td data-label="Отделка" class="b-flats__col section">{{flat.section}}</td>
                    <td data-label="Цена, млн руб" class="price b-flats__col price_{{flat.price}}">{{flat.price}}</td>
                    <td ng-click="showFlatPopup($index)" data-label="Планировка/Фото" class="b-flats__col flats_plan hovered m-flats__row_pointer">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="b-form">
    <div class="b-form__inner" ng-submit="sendOrderForm()">
        <h2 class="b-title m-title_white">Оставить заявку</h2>
        <form class="b-form__fields" name="orderForm" novalidate>
            <input type="text" class="b-form__input" ng-model="orderFormData.name" ng-minlength="2" ng-maxlength="20" placeholder="Имя" required />
            <input type="tel" class="b-form__input j-phone-masked" ng-model="orderFormData.phone" ng-minlength="10" ng-maxlength="30" placeholder="Телефон" required />
            <button class="b-button-send-form m-button-send-form_contact" type="submit">оставить заявку</button>
        </form>
    </div>
</div>
<div class="b-experience">
    <div class="l-inner">
        <h3 class="b-title">Объект представляет <br class="g-mobile">Contact Real Estate</h3>
        <p class="b-elucidation m-elucidation_contact m-elucidation_experience">Безукоризненная репутация в элитной недвижимости с 1991 года</p>
        <div class="b-experience__inner j-slider-experience">
            <div>
                <div class="b-experience__item m-experience__item_no-top">
                    <div class="b-experience__icon-area">
                        <div class="b-experience__icon-inner">
                            <img src="../img/icons/book.svg" class="g-icon m-icon_middle m-icon_book" alt="" />
                        </div>
                    </div>
                    <div class="b-experience__item-content">
                        <p class="b-experience__title">Опыт</p>
                        <div class="b-experience__line">&nbsp;</div>
                        <p class="b-experience__text">Агентство работает с 1991 года и входит в число лидеров рынка элитной недвижимости Москвы.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-experience__item m-experience__item_no-top">
                    <div class="b-experience__icon-area">
                        <div class="b-experience__icon-inner">
                            <img src="../img/icons/search.svg" class="g-icon m-icon_middle m-icon_search" alt="" />
                        </div>
                    </div>
                    <div class="b-experience__item-content">
                        <p class="b-experience__title">Экспертиза</p>
                        <div class="b-experience__line">&nbsp;</div>
                        <p class="b-experience__text">Мы эксперты по элитной недвижимости Москвы! Хорошо знаем объекты, их особенности и преимущества. Можем провести сравнительный анализ, исходя из запроса клиента.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-experience__item">
                    <div class="b-experience__icon-area">
                        <div class="b-experience__icon-inner">
                            <img src="../img/icons/heart.svg" class="g-icon m-icon_middle m-icon_heart" alt="" />
                        </div>
                    </div>
                    <div class="b-experience__item-content">
                        <p class="b-experience__title">Честность</p>
                        <div class="b-experience__line">&nbsp;</div>
                        <p class="b-experience__text">Одним из принципов работы компании является информационная прозрачность и соблюдение интересов клиентов и партнеров.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-experience__item">
                    <div class="b-experience__icon-area">
                        <div class="b-experience__icon-inner">
                            <img src="../img/icons/key.svg" class="g-icon m-icon_middle m-icon_key" alt="" />
                        </div>
                    </div>
                    <div class="b-experience__item-content">
                        <p class="b-experience__title">Подход</p>
                        <div class="b-experience__line">&nbsp;</div>
                        <p class="b-experience__text">Компания отличается индивидуальным подходом к каждому покупателю и всегда готова предложить лучшие условия и лучший сервис.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-form b-form__sell">
    <div class="b-form__inner" ng-submit="sendSellForm()">
        <h2 class="b-title m-title_white">Вы собственник? Оставьте заявку на продажу</h2>
        <form class="b-form__fields" name="sellForm" novalidate>
            <input type="text" class="b-form__input b-form__input-sell" ng-model="sellFormData.name" ng-minlength="2" ng-maxlength="20" placeholder="Как вас зовут?" required />
            <input type="tel" class="b-form__input b-form__input-sell j-phone-masked" ng-model="sellFormData.phone" ng-minlength="10" ng-maxlength="30" placeholder="Ваш телефон" required />
            <input type="tel" class="b-form__input b-form__input-sell j-address" ng-model="sellFormData.address" ng-minlength="5" ng-maxlength="60" placeholder="Ваш адресс" required />
            <button class="b-button-send-form m-button-send-form_sell" type="submit">оставить заявку</button>
        </form>
    </div>
</div>
<footer class="b-footer">
    <div class="b-footer__inner m-footer__inner_contact g-clearfix">
        <ul class="m-footer__contacts_contact b-footer__contacts">
            <li><img src="img/contact-logo.png" class="b-logo m-logo_footer-contact" alt="Contact logo"></li>
            <li><a class="m-email_footer print-ver agency" href="http://www.kre.ru/">Услуги на рынке<br>элитной недвижимости</a></li>
            <li><a class="m-email_footer print-ver agency" href="http://www.kre.ru/offers/elitenew/yakimanka/">Новостройки на Якиманке</a></li>
                        <li>
                <a href="https://www.facebook.com/ContactRealEstate/" class="b-soc__item m-soc__item_fb" target="_blank" title=""></a>
                <a href="https://vk.com/public74262160" class="b-soc__item m-soc__item_vk" target="_blank" title=""></a>
                <a href="https://twitter.com/Contact_RE?cn=ZmlmdGVlbl9kYXlfcmVz" class="b-soc__item m-soc__item_tw" target="_blank" title=""></a>
                            <a href="https://www.instagram.com/kre.ru/" class="b-soc__item m-soc__item_inst" target="_blank" title=""></a>
            </li>
        </ul>
        <div class="b-footer__contacts m-footer__contacts_contact">
            <p>Москва, ул. Арбат, д. 13/36</p>
            <p class="b-footer__phone m-footer__phone_contact phone-desktop"><span class="b-footer__field-title">Телефон:</span>&nbsp;<span class=""><span class="b-phone m-phone_footer" title="Телефон" onclick="">+7 (495) 956-77-99</span></span></p>
            <p class="b-footer__phone m-footer__phone_contact phone-mobile"><span class="b-footer__field-title">Телефон:</span>&nbsp;<span class=""><a href="tel:+74959567799" class="b-phone m-phone_footer" title="Телефон" onclick="ga('send', 'event', 'click number', 'click button'); yaCounter19895512.reachGoal('click number'); ">+7 (495) 956-77-99</a></span></p>
            <p class="b-footer__email"><span class="b-footer__field-title">E-mail:</span>&nbsp;<a href="mailto:sales@kre.ru" class="b-email m-email_footer" onclick="ga('send', 'event', 'click email', 'click button'); yaCounter19895512.reachGoal('click email');" title="Email">sales@kre.ru</a></p>
            <a class="m-email_footer print-ver" href="javaScript:window.print();">Версия для печати</a>
            <button class="b-button-callback m-button-callback_footer m-button-callback_footer-contact" ng-click="showCallbackPopup()">обратный звонок</button>
        </div>
        <div class="b-footer__landings">
            <div class="b-footer__headline">Посмотреть другие ЖК</div>
            <div class="column">
                <a href="http://andreevskij.kre.ru/" class="landing-link">Андреевский</a>
                <a href="http://barkli-park.kre.ru/" class="landing-link">Barkli Park</a>
                <a href="http://sytinskij.kre.ru/" class="landing-link">Сытинский</a>
                <a href="http://chetyre-solnca.kre.ru/" class="landing-link">Четыре солнца</a>
                <a href="http://italkvartal.kre.ru/" class="landing-link">Итальянский квартал</a>
            </div>
            <div class="column">
                <a href="http://knightsbridge.kre.ru/" class="landing-link">Knightsbridge Private Park</a>
                <a href="http://legenda-cvetnogo.kre.ru/" class="landing-link">Легенда Цветного</a>
                <a href="http://literator.kre.ru/" class="landing-link">Литератор</a>
                <a href="http://novaya-ostozhenka.kre.ru/" class="landing-link">Новая Остоженка</a>
                <a href="http://ostogenka-parkpalace.kre.ru/" class="landing-link">Остоженка Парк Палас</a>
            </div>
            <div class="column">
                <a href="http://rezidentsiya-mone.kre.ru/" class="landing-link">Резиденция МОНЭ</a>
                <a href="http://smolenskij24.kre.ru/" class="landing-link">Смоленский бульвар 24</a>
                <a href="http://snegiri.kre.ru/" class="landing-link">Снегири Эко</a>
                <a href="http://vsevolozhskiy.kre.ru/" class="landing-link">Резиденция на Всеволожском</a>
                <a href="http://dom-na-pokrovskom-bulvare.kre.ru/" class="landing-link">Дом на Покровском бульваре</a>
            </div>
        </div>

    </div>
</footer>
<div class="g-hide">
    <div class="b-popup j-popup-callback" ng-submit="sendCallbackForm()">
        <div ng-hide="isCallbackFormSended">
            <p class="b-title">Мы Вам перезвоним</p>
            <p class="b-popup__subtext"></p>
            <form class="b-popup__form" name="callbackForm" novalidate>
                <input type="text" class="b-popup__input" ng-model="callbackFormData.name" ng-minlength="2" ng-maxlength="20" placeholder="Как вас зовут?" required />
                <input type="tel" class="b-popup__input j-phone-masked" ng-model="callbackFormData.phone" ng-minlength="10" ng-maxlength="30" placeholder="Ваш телефон?" required />
                <!--<input type="text" class="b-popup__input j-input-time" ng-model="callbackFormData.time" ng-maxlength="50" placeholder="В какое время перезвонить?" />-->
                <button class="b-button-send-form callback_send-form" type="submit">Отправить</button>
            </form>
        </div>
        <div ng-show="isCallbackFormSended">
            <p class="b-title">Спасибо.</p>
            <p class="b-popup__subtext">Наш менеджер перезвонит Вам.</p>
        </div>
        <div class="b-popup__close j-popup-close"></div>
    </div>
</div>
<div class="g-hide">
    <div class="b-popup j-popup-gratitude" ng-submit="sendCallbackForm()">
        <p class="b-title">Спасибо.</p>
        <p class="b-popup__subtext">Наш менеджер перезвонит Вам.</p>
        <div class="b-popup__close j-popup-close"></div>
    </div>
</div>
<div class="g-hide">
    <div class="b-popup m-popup_flat j-popup-flat">
        <div class="b-flat-schema g-clearfix">
            <ul class="b-flat-schema__info">
                <li class="b-flat-schema__el">Количество комнат: {{flatInPopup.rooms}}</li>
                <li class="b-flat-schema__el">Этаж: {{flatInPopup.floor}}-й</li>
                <li class="b-flat-schema__el">Площадь: {{flatInPopup.square}} м<sup>2</sup></li>
                <li class="b-flat-schema__el">Цена: {{flatInPopup.price==0 ? 'По запросу' : flatInPopup.price+' млн. руб.'}}</li>
            </ul>
            <h4 class="arch-head">Планировки / Фото</h4>
            <div class="j-slider-popup">
                <div class="planirovka" ng-repeat=" src in flatInPopup.img">
                    <img ng-src="{{src}}"  class="b-flat-schema__img">
                </div>
                <div class="photo" ng-repeat="src in flatInPopup.image">
                    <img ng-src="{{src}}" class="b-flat-schema__img">
                </div>
            </div>
        </div>
        <div class="b-popup__close j-popup-close"></div>
    </div>
</div>
<div class="g-hide">
    <div class="b-popup j-popup-callback-sell" ng-submit="sendCallbackSellForm()">
        <div ng-hide="isCallbackFormSended">
            <p class="b-title">Мы свяжемся с вами</p>

            <p class="b-popup__subtext">и продадим вашу недвижимость</p>

            <form class="b-popup__form" name="callbackForm" novalidate>
                <input type="text" class="b-popup__input" name="callbackFormData.name" ng-model="callbackFormData.name" ng-minlength="2" ng-maxlength="20" placeholder="Как вас зовут?" required/>
                <input type="tel" class="b-popup__input j-phone-masked" name="callbackFormData.phone" ng-model="callbackFormData.phone" ng-minlength="10" ng-maxlength="30" placeholder="Ваш телефон?" required/>
                <input type="text" class="b-popup__input" name="callbackFormData.address" ng-model="callbackFormData.address" ng-maxlength="100" placeholder="Адрес вашего объекта?"/>
                <button class="b-button-send-form m-form-send" type="submit">Отправить</button>
            </form>
        </div>
        <div ng-show="isCallbackFormSended">
            <p class="b-title">Спасибо.</p>

            <p class="b-popup__subtext">Наш менеджер перезвонит вам в ближайшее время.</p>
        </div>
        <div class="b-popup__close j-popup-close"></div>
    </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/icon_customImage.js" type="text/javascript"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.arcticmodal-0.3.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.events.contact.js"></script>
<script src="js/main.contact.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19341950-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=JQrfLq5iVs1w4oNl5hFzSwbCGe0H5bYWi94ibAixkivQhDCa1ijkP*Lpy3qhA8DK8jAvk1AquzZv8u6ShZFhzpehZ9vbz5/xUQMnnnMxl8udkRsmJ0Ou6B7QJet5bqN7l9yxWuDSzD2rv0MAO6*o*yci7ATuWC3zcOE8h9*3Llk-';</script>
<script>// <![CDATA[
apartmentsUrl = 'http://www.kre.ru/landing/lots/9816';
// ]]></script>
</body>
</html>